.usersBar {
  height: 100%;
  width: 100%;
  h2 {
    text-align: center;
    transform: translateX(2em) translateY(2em);
  }
  text {
    fill: rgb(0, 0, 0) !important;
  }
  span {
    color: rgb(0, 0, 0) !important;
    font-family: "BookCereal" !important;
  }
}
