.artworkDetails {
  display: flex;
  border-top: 1px solid #e9e9e9;
  &--left {
    &--content {
      border-top: 1px solid #b5b5b5;
      margin-top: 20px;
      padding-top: 20px;
    }
    margin-top: 20px;
    margin-left: 20px;
    width: 75%;
    .item.active {
      background-color: white;
      justify-content: unset;
      h4 {
        color: hsl(0, 0%, 24%);
      }
      span {
        color: hsl(102, 39%, 50%);
        display: flex;
        align-items: center;
        svg {
          margin-right: 5px;
          background-color: hsl(102, 39%, 50%);
          border-radius: 50%;
        }
      }
    }
  }

  &--right {
    flex-grow: 1;
  }
}
