.postview {
  display: flex;
  width: 95%;
  margin-left: 2em;
  padding: 1em;
  &__content {
    margin: 0.5em 2em 0;

    h1 {
      font-family: "BoldMonaSans";
      font-size: 1.7em;
    }

    p {
      font-family: "RegularMonaSans";
      font-size: 1em;
      margin-top: 0.5em;
      text-wrap: wrap;
    }

    &__info {
      display: flex;
      margin-bottom: 1em;

      img {
        width: 6%;
        height: 6%;
        border-radius: 100px;
      }
      &__details {
        margin-left: 0.8em;
        margin-top: 0.2em;
        h4 {
          font-family: "BoldMonaSans";
          font-size: 0.8em;
        }
        p {
          font-size: 0.6em;
        }
      }
    }

    &__button {
      display: flex;
      margin-top: 1em;
      &__detail {
        width: max-content;
        border-radius: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white !important;
        font-family: "SemiBoldMonaSans";
        padding: 23px;
        margin: 0.5em 0;
      }
      &__detail:first-child {
        background-color: #41b84d;
        margin-right: 1em;
        border: 1.8px solid rgb(204, 243, 204);
      }
      &__detail:nth-child(2) {
        background-color: #d04848;
        border: 1.8px solid rgb(241, 193, 193);
      }
    }
  }
}

.ant-btn-primary {
  background-color: rgb(44, 178, 222) !important;
}

@media only screen and (max-width: 850px) {
  .postview {
    display: block;
  }
}
@media only screen and (max-width: 550px) {
  .postview {
    margin: 0em;
    padding: 1em 0;
     &__image {
      width: 10% !important;
     }
  }
}
