.wrap-creatorProfile {
  height: 300px;
  display: flex;
  justify-content: center;
  background-image: url("../../../assets/headerBg.png");
  background-size: cover;
  margin: 0 4em;
  border-radius: 0 0 10px 10px;
}
.wrap-creatorProfile-bottom {
  display: flex;
  margin: 0 8em;
  transform: translateY(-1em);

  .wallet,
  .order-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(2.5em);
    height: 2.8em;
    font-family: "MediumCereal";
    background-color: white !important;
    gap: 1em;
    border: 1px solid rgb(205, 205, 205);
    text-wrap: nowrap;
    border-radius: 5px;
    padding: 0.3em 0.7em;
    font-size: 0.9em;
  }
  .wallet {
    transform: translateY(2.5em) translateX(-1em);
  }
}

@media only screen and (max-width: 600px) {
  .creator-profilee {
    flex-wrap: wrap;
    height: 50vh;
    font-size: 14px;
    &__img {
      margin-right: 50px;
    }
  }
}
