.creatorManage {
  display: flex;
  height: 100vh;
  &--left {
    width: fit-content;
  }
  &--right {
    flex: 1;
    height: 100vh;
    overflow-y: scroll;
    width: auto;
    &__header {
      display: none;
    }
  }
}

@media only screen and (max-width: 550px) {
  .creatorManage {
    flex-direction: column-reverse;

    &--left {
      width: 100%;
    }
    &--right {
      &__header {
        display: block;
      }
    }
  }
}
