.myBar {
  height: 100%;
  width: 100%;
  h2 {
    text-align: center;
    color: black;
    font-size: 1.2em;
    font-family: "BoldCereal" !important;
    margin-bottom: 2em;
  }
  text {
    fill: rgb(0, 0, 0) !important;
  }
  span {
    color: rgb(0, 0, 0) !important;
    font-family: "BookCereal" !important;
  }
}
