.roomChat{
display: flex;
height: 100%;
flex-grow: 1;
// background-color: #202020;
// color: #fff;
background-color: #fff;
color: #000;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

