.order-history {
  width: 80%;
  margin: 0 10%;
  h1 {
    font-family: "BlackCereal";
    font-size: 2em;
    margin-top: 1em;
  }
  p {
    font-family: "MediumCereal";
    font-size: 1em;
    color: rgb(77, 77, 77);
    margin-bottom: 2em;
  }
  &__detail {
    border-radius: 10px;
    border: 1px solid rgb(173, 173, 173);
    padding: 2em;
    background-color: rgba(247, 220, 235, 0.322);
  }
}
