.info {
  display: flex;
  justify-content: space-between;
  &__right {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__name {
      margin-left: 5px;
      text-wrap: wrap;
      font-family: "MediumMonaSans";
    }
    &__tag {
      font-family: "BoldMonaSans";
      font-size: 0.74em;
      background-color: rgba(182, 182, 182, 0.69);
      color: white;
      border-radius: 2px;
      padding: 3px 3px 0px 3px;
      margin-left: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  &__left {
    display: flex;
    &__favorites {
      margin: 0 10px;
      display: flex;
      align-items: center;

      &__subInfo {
        font-family: "MediumMonaSans";
        font-size: 0.95em;
      }
      &__icon {
        color: rgb(155, 155, 155);
        font-size: 1em;
        margin-right: 2px;
      }
    }
    &__seens {
      display: flex;
      align-items: center;
      &__subInfo {
        font-family: "MediumMonaSans";
        font-size: 0.95em;
      }
      &__icon {
        color: rgb(155, 155, 155);
        font-size: 1em;
        margin-right: 2px;
      }
    }
  }
}

@media only screen and (max-width: 1524px) {
  .info {
    &__right {
      &__tag {
        font-size: 0.6em;
        padding: 2px 2px 0px 2px;
      }
    }

    &__left {
      &__favorites {
        &__subInfo {
          font-size: 0.9em;
        }
        &__icon {
          font-size: 0.9em;
        }
      }
      &__seens {
        &__subInfo {
          font-size: 0.9em;
        }
        &__icon {
          font-size: 0.9em;
        }
      }
    }
  }
}
