.layoutLeft {
  background-color: rgb(50, 50, 52);
  height: 100vh;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  &--img {
    margin-top: 25px;
    width: 50px;
    width: 50px;
  }
  &--menu {
    // width: 100%;
    height: 100%;
    cursor: pointer;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    svg {
      color: white;
      font-size: 30px;
    }
    &__icon {
    }
    &__avt {
      width: 30px;
      height: 30px;
      img {
        border-radius: 50%;
        width: 100%;
        height: 100%;
      }
    }
  }
  &--setting {
    color: white;
    font-size: 30px;
    align-items: flex-end;
    margin-bottom: 30px;
    cursor: pointer;
  }
}

@media only screen and (max-width: 550px) {
  .layoutLeft {
    padding: 0 20px;
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    &--menu {
      flex-direction: row;
      align-items: center;
      margin: 0;
    }
    &--img {
      display: none;
    }
    &--setting {
      display: none;
    }
  }
}
