.wrapUpload {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

@media only screen and (max-width: 546px) {
  .wrapUpload {
    margin-top: 0;
    margin-bottom: 90px;
  }
}
