.info-scroller {
  width: 97vw;
  padding-left: 3vw;
  &__title {
    font-family: "UltraLightMonaSans";
    text-align: center;
    margin-bottom: 0.6em;
    font-size: 3.2em;
  }
}

.info-scroller__inner {
}
