.workart-section {
  padding: 3em;
  margin-top: 5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  .ant-col {
    max-width: fit-content !important;
  }
  &__title {
    font-family: "UltraLightMonaSans";
    text-align: center;
    margin-bottom: 0.6em;
    font-size: 3.2em;
  }
  &__more {
    width: fit-content;
    font-family: "SemiBoldMonaSans";
    padding: 20px;
    background-color: transparent;
    border: 1.5px solid black;
    border-radius: 100px;
    margin-top: 3em;
  }
  &__more:hover {
    color: grey;
    border-color: grey;
    transition: all 0.3s ease-in-out;
  }
}

@media only screen and (max-width: 1024px) {
  .workart-section {
    padding: 2em;
  }
}

@media only screen and (max-width: 750px) {
  .workart-section {
    padding: 3em;
  }
}

@media only screen and (max-width: 300px) {
  .workart-section {
    padding: 1.5em;
  }
}
