.search-dashboard {
  font-size: 1.075em;
  font-family: "MediumCereal";
  border-radius: 100px;
  height: fit-content;
  color: rgb(0, 0, 0);
  width: min-content;
  background-color: transparent;
  transition: all 0.5s ease;
  border: 1px solid rgba(78, 78, 78, 0.489);
  margin: 1em;
  padding: 12px 7px 12px 15px;
}
.ant-input {
  font-family: "MediumCereal" !important;
}
.search-dashboard.active {
  background-color: #ffffff;
  width: 40%;
  color: rgb(0, 0, 0);
}

@media only screen and (max-width: 1160px) {
  .search-dashboard {
    font-size: 0.9em;
    margin: 0.7em;
    padding: 10px 3px 10px 13px;
  }
}
