.category-scroller {
  margin-top: 4em;
  width: 97vw;
  padding-left: 3vw;
  &__inner {
    .slick-slide {
      div {
        padding-top: 2em;
        height: 300px;
        display: flex;
        justify-content: center;
      }
    }
  }
}
.slick-arrow {
  display: none !important;
}
