.tag--style {
  margin-top: 20px;
  // cursor: pointer;
}
.ant-tag {
  border: 1px solid rgb(86, 86, 10);
  font-weight: 600;
  width: fit-content;
}
.tag-selected {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 9px;
  display: flex;
  border: 1px solid rgb(179, 97, 97);
  padding: 20px;
  background-color: white;
}
.ant-space {
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
  width: 400px;
  .ant-space-item {
    display: inline-block;
    margin-right: 8px;
    margin-bottom: 8px;
  }
}
@media only screen and (max-width: 546px) {
  .ant-space {
    width: fit-content;
  }
}
