.footer {
  height: 35vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 12em;
  &__upper {
    width: 100%;
    &__logo {
      display: flex;
      justify-content: start;
    }
    &__icons {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 1.5em;
    }
  }
  &__lower {
    width: 100%;

    &__privacy {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &__tag {
        color: #6e6d7a;
        font-family: "RegularMonaSans";
      }
    }

    &__about {
      display: flex;
      justify-content: space-between;

      &__tag {
        color: #6e6d7a;
        font-family: "RegularMonaSans";
      }
    }
  }
}
