.change-tab-creator {
  position: absolute;

  bottom: 0em;
  left: 48%;
  background: #232131;
  z-index: 1;
  font-family: "SemiBoldMonaSans";
  padding: 0em 4em;
  padding-top: 2em;
  padding-bottom: 1.5em;
  border-radius: 10px 10px 0 0;
  &__work,
  &__liked,
  &__collections {
    color: white;
    padding: 0.7em 1em;
    border-radius: 100px;
  }
  .active {
    color: black;
    background-color: rgba(255, 255, 255, 0.906);
  }
}
