.wrapper-black {
  display: flex;
  justify-content: center;
  align-items: center;
  &__logo {
    height: 5.5em;
    width: 5.5em;
  }
}

@media only screen and (max-width: 2000px) {
  .wrapper-black {
    &__logo {
      height: 5.5em;
      width: 5.5em;
    }
  }
}
@media only screen and (max-width: 1880px) {
  .wrapper-black {
    &__logo {
      height: 5.5em;
      width: 5.5em;
    }
  }
}
@media only screen and (max-width: 1430px) {
  .wrapper-black {
    &__logo {
      height: 5em;
      width: 5em;
    }
  }
}
@media only screen and (max-width: 1302px) {
  .wrapper-black {
    &__logo {
      height: 5em;
      width: 5em;
    }
  }
}
@media only screen and (max-width: 1000px) {
  .wrapper-black {
    &__logo {
      height: 4em;
      width: 4em;
      margin-right: 1em;
    }
  }
}

@media only screen and (max-width: 480px) {
  .wrapper-black {
    &__logo {
      height: 4em;
      width: 4em;
      margin-right: 0em;
    }
  }
}

@media only screen and (max-width: 300px) {
  .wrapper-black {
    &__logo {
      height: 4em;
      width: 4em;
    }
  }
}
