.form-signup-mod {
  width: 100%;
  &__container {
    &__label {
      font-family: "BoldMonaSans";
      font-size: 1em;
    }

    &__input {
      height: 3em;
    }
    &__submit {
      width: 100%;
      border-radius: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #0d0c22 !important;
      color: white;
      font-family: "SemiBoldMonaSans";
      padding: 25px;
      border: 1.8px solid rgb(231, 231, 231);
      margin: 0.5em 0;
    }
    &__confirm {
      width: 30%;
      border-radius: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgb(194, 113, 113) !important;
      color: white;
      font-family: "SemiBoldMonaSans";
      padding: 22px;
      border: 1.8px solid rgb(231, 231, 231);
      margin: 0.5em 0;
    }
  }
}
