.signUp {
  overflow-y: hidden;
  display: flex;
  height: 100vh;
  &__side-bar {
    height: 100vh;
    &__media {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__form {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    &__container {
      h3 {
        font-family: "BoldMonaSans";
        font-size: 1.7em;
        margin-bottom: 2em;
      }
      &__gg-btn {
        width: 100%;
        border-radius: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "SemiBoldMonaSans";
        padding: 27px;
        border: 1.8px solid rgb(231, 231, 231);
        background-color: #0d0c22;
        color: white;
        img {
          height: 1.1em;
          padding-right: 10px;
        }
      }
      &__namepass {
        margin-bottom: 2em;
        &__group-form {
          &__label {
            font-family: "BoldMonaSans";
            font-size: 1.1em;
          }
          &__input {
            margin-top: 0.5em;
            height: 4em !important;
          }
        }
        &__submit {
          width: 100%;
          border-radius: 100px;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: white;
          color: #0d0c22;
          font-family: "SemiBoldMonaSans";
          padding: 27px;
          border: 1.8px solid rgb(231, 231, 231);
        }
      }
      &__linkToSignUp,
      &__about {
        font-weight: 500;
        line-height: 1.8;
        font-family: "RegularMonaSans";
        font-size: 1em;
        text-align: center;
        &__signUp {
          color: #0d0c22;
          text-decoration: underline;
        }
      }
      &__about {
        font-size: 0.9em;
        margin-bottom: 1em;
        &__detail {
          color: #0d0c22;
          text-decoration: underline;
        }
      }
    }
  }
}

.sign-up-form {
  width: 90%;
  &__form {
    &__container {
      margin-left: 5em;
      width: 90%;
    }
  }
  &__group-form {
    &__flex {
      width: 80%;
      &__label {
        font-weight: 500;
      }
      &__input {
        height: 4em !important;
        border-radius: 10px;
        margin: 0.5em 0;
      }
    }
    &__role {
      width: 80%;
      &__label {
        font-weight: 500;
        margin-right: 1em;
      }
      &__input {
        height: 4em !important;
        border-radius: 10px;
        margin: 0.5em 0;
      }
      &__option {
        &__detail {
          height: 3.5em;
          width: 22vw;
          margin: 0.5em 0;
          text-align: center;
          padding: 0.5em;
          color: #0d0c22;
          font-family: "SemiBoldMonaSans";
          border: 0.5px solid rgba(0, 0, 0, 0.265) !important;
        }
      }
    }

    &__base {
      width: 80%;
      &__label {
        font-weight: 500;
      }
      &__input {
        height: 4em !important;
        border-radius: 10px;
        margin: 0.5em 0;
      }
    }
  }
  &__submit-create {
    width: 83%;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0d0c22;
    color: white;
    font-family: "SemiBoldMonaSans";
    padding: 26px;
    border: 1.8px solid rgb(231, 231, 231);
    margin: 1em 0;
  }
}

@media only screen and (max-width: 990px) {
  .signUp {
    &__side-bar {
      position: relative;
      filter: blur(7px);
    }
    &__form {
      position: absolute;
      top: 1%;
      width: 100%;
    }
  }
}

@media only screen and (max-width: 700px) {
  .signUp {
    &__form {
      padding: 0 2em;
    }
  }
  .sign-up-form {
    &__form {
      &__container {
        margin-left: 2.5em;
      }
    }
    &__role {
      &__option {
        &__detail {
          height: 2em !important;
        }
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  .sign-up-form {
    &__form {
      &__container {
        margin-left: 2em;
      }
    }
  }
}
