@font-face {
  font-family: "UltraLightMonaSans";
  src: local("Mona-Sans"),
    url("./fonts/Mona-Sans-UltraLight.ttf") format("truetype");
}

@font-face {
  font-family: "LightMonaSans";
  src: local("Mona-Sans"), url("./fonts/Mona-Sans-Light.ttf") format("truetype");
}

@font-face {
  font-family: "RegularMonaSans";
  src: local("Mona-Sans"),
    url("./fonts/Mona-Sans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "MediumMonaSans";
  src: local("Mona-Sans"),
    url("./fonts/Mona-Sans-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "SemiBoldMonaSans";
  src: local("Mona-Sans"),
    url("./fonts/Mona-Sans-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "BoldMonaSans";
  src: local("Mona-Sans"), url("./fonts/Mona-Sans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "ExtraBoldMonaSans";
  src: local("Mona-Sans"),
    url("./fonts/Mona-Sans-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "BlackMonaSans";
  src: local("Mona-Sans"), url("./fonts/Mona-Sans-Black.ttf") format("truetype");
}

@font-face {
  font-family: "BlackCereal";
  src: local("Airbnb-Cereal"), url("./fonts/SVN-Airbnb-Cereal-Black.ttf") format("truetype");
}

@font-face {
  font-family: "BoldCereal";
  src: local("Airbnb-Cereal"), url("./fonts/SVN-Airbnb-Cereal-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "BookCereal";
  src: local("Airbnb-Cereal"), url("./fonts/SVN-Airbnb-Cereal-Book.ttf") format("truetype");
}
@font-face {
  font-family: "ExtraBoldCereal";
  src: local("Airbnb-Cereal"), url("./fonts/SVN-Airbnb-Cereal-ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "LightCereal";
  src: local("Airbnb-Cereal"), url("./fonts/SVN-Airbnb-Cereal-Light.ttf") format("truetype");
}
@font-face {
  font-family: "MediumCereal";
  src: local("Airbnb-Cereal"), url("./fonts/SVN-Airbnb-Cereal-Medium.ttf") format("truetype");
}